.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    padding: 10px;
    font-size: 20px;
    color: green;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 10px;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;

      input {
        padding: 10px 5px;
        margin: 10px;
        outline: none;
        width: 100%;
        border: 1px solid #fb761e;

        &:focus {
          border: 1px solid #fb761e;
        }

        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }
      }
      label {
        margin-left: 10px;
      }
      .error-text {
        font-size: 10px;
        color: red;
        margin: 0 0 10px 10px;
      }
    }
  }

  .action-btn {
    display: flex;
    width: 100%;
    justify-content: space-around;

    button {
      width: 6vw;
      height: 6vh;
      margin: 10px 0;
      border-radius: 5px;
      background-color: transparent;
      font-size: 16px;
      cursor: pointer;
      min-width: 70px;

      &:hover {
        background-color: lightsalmon;
      }

      &:disabled {
        background-color: lightgray;
        border: 1px solid lightgray;
        color: gray;
      }
    }

    .btn-success {
      border: 1px solid green;
      color: green;
    }

    .btn-error {
      border: 1px solid red;
      color: red;
    }
  }
}
