/* You can add global styles to this file, and also import other style files */
@import "./app/components/modal/modal-animations.css";
body {
  margin: 0;
  font-family: 'Open Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 420px;
}
